#Intro to Machine Learning - Kaggle

Olá!

Este notebook faz parte do estudo de introdução ao Machine Learning disponibilizado pelo Kaggle.

Começamos com um problema relacionado a previsão de valores de casa no mercado imobiliário. Então vamos nos familiarizar com o dataset disponibilizado.

In [ ]:
import pandas as pd

iowa_file_path='/content/drive/MyDrive/Data Science/notebooks/Intro_to_Machine_Learning_Kagle/melbourne-housing-snapshot/melb_data.csv'

dados_melbourne=pd.read_csv(iowa_file_path) #Leitura e armazenamento dos dados csv no DataFrame intitulado dados_melbourne

dados_melbourne.describe() # Descreve o conjunto de dados de forma estatística

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

Vamos a explicação da descrição de dados que o comando describe do pandas nos mostrou:

1.   count: Esta linha conta a quantidade de colunas não vazias (entraremos com o conceito de como os conjuntos de dados são encontrados no mundo real, rs)
2.   mean: Como sabemos, a média é a forma mais rápida de avaliarmos uma tendência central de um dataset e aqui ele está trazendo a média de cada coluna. 
3.   std: O desvio padrão nos mostra o quão distante os dados estão em relação a tendência central do conjunto. Ela é a raiz da variância, sendo útil porque a unidade de medida não sofre alteração igual na variância, facilitando a análise.
4.   min, 25%, 50%, 75%, max: 25%,50 %, e 75 % são quartis que dividem os dados ordenados em 4 partes iguais. Os valores mínimo e valor máximo destes dados ordenados são, respectivamente, os valores min e max.